@use "node_modules/@bbva-web-components/bbva-foundations-sass/main" as *;

:host {
  --bbva-web-progress-bar-bg-color: #{token('foundations.colors.secondary300')};

  display: block;
  box-sizing: border-box;
  font-size: token('foundations.typography.typeSmall');
  line-height: token('foundations.lineHeight.typeSmall');
}

:host([hidden]),
[hidden] {
  display: none !important;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
}

.hidden {
  border: 0px;
  clip: rect(0px, 0px, 0px, 0px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0px;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1px;
  text-decoration: none;
}

.top {
  padding: .5rem 0;
}

.select-account {
  box-sizing: initial;
  max-width: 50%;
}

.definitions {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;

  .definition {
    margin-bottom: auto;

    & + .definition {
      margin-left: 1rem;
    }
  }
}

.progress {
  margin: 1rem 0;

  &-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: .5rem;

    div {
      display: flex;
      align-items: baseline;
    }

    bbva-web-amount {
      margin-left: .5rem;
    }
  }
}

.content-detail {
  margin: 1rem 0;

  bbva-web-expandable-accordion {
    border: none;
    margin-left: -1rem;
  }

  .account-detail {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;

    li {
      box-sizing: border-box;
      width: 33%;

      bbva-web-list-item-simple {
        align-items: flex-end;
        padding: .5rem 2rem 1rem 0;
      }
    }
  }
}

.main {
  padding: 1rem 0;

  h3 {
    font-size: token('foundations.typography.typeLarge');
    line-height: token('foundations.lineHeight.typeLarge');
    font-weight: token('foundations.fontFacePrimary.book.fontWeight');
    margin-bottom: 1.5rem;
  }
}